CMakeLists.txt.user
CMakeCache.txt
build/
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache
.DS_Store
tools/onenet_nvs.csv
build/onenet_nvs.bin
config.env
config/
kconfigs.in
kconfigs_projbuild.in
sdkconfig.old
