key,type,encoding,value
onenet,namespace,,
broker_host,data,string,REPLACE_WITH_ONENET_MQTT_HOST
broker_port,data,u16,1883
product_id,data,string,REPLACE_WITH_PRODUCT_ID
device_name,data,string,REPLACE_WITH_DEVICE_NAME
device_key,data,string,REPLACE_WITH_BASE64_DEVICE_KEY
token_ttl,data,u32,3600
